<template>
  <div id="app">
    <h1>ETH</h1>
    <D3LineChart :config="eth_config" :datum="eth_data"></D3LineChart>
    <hr>
    <h1>GWEI</h1>
    <D3LineChart :config="gwei_config" :datum="gwei_data"></D3LineChart>
    <button @click="updatePrice()">Refresh All</button>
  </div>
</template>

<script>
import {D3LineChart, D3BarChart} from 'vue-d3-charts';
import Vue from 'vue'


export default {
  name: 'App',
  data() {
    return {
      gwei_data: [],
      gwei_config: {
        date: {key: "time", inputFormat: "%Y-%m-%d %H:%M:%S", outputFormat: "%Y-%m-%d %H:%M:%S"},
        values: ["price"],
        tooltip: {labels: ["GWEI"]},
        margin: {left: 100, right: 100}
      },
      eth_data: [],
      eth_config: {
        date: {key: "time", inputFormat: "%Y-%m-%d %H:%M:%S", outputFormat: "%Y-%m-%d %H:%M:%S"},
        values: ["price"],
        tooltip: {labels: ["ETH"]},
        margin: {left: 100, right: 100}
      },
    }
  },

  created() {
    setInterval(this.updatePrice, 5000)
    this.updatePrice()
  },

  components: {
    D3LineChart,
    D3BarChart
  },
  methods: {
    updatePrice() {
      Vue.axios.get('http://localhost:9119/price/eth').then((response) => {
        this.eth_data = response.data;
      })
      Vue.axios.get('http://localhost:9119/price/gwei').then((response) => {
        this.gwei_data = response.data;
      })
    }
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
